/*** overall ***/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
      	    box-sizing: border-box;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
}

body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

::selection {
	background-color: #000;
	color: #fff;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: rgb(250, 214, 137);
	color: #fff;
	text-decoration: none;
}

/*** menu animation ***/



/*** header ***/

header {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 1px 0 1px 0;
	background-color: #fff;
	position: fixed;
	z-index: 1;
	font-family: 'Overpass Mono', monospace;
}

header ul {
	display: flex;
	padding: 0px;
	list-style: none;
}

header ul li {
	width: 100px;
	font-family: 'Overpass Mono', monospace;
	font-size: 0.78em;
	padding-left: 5px;
	padding-right: 29px;
	margin-left: 5px;
	margin-right: 10px;
	text-align: left;
}

/*** maincontent ***/

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 245%;
	font-family: 'Overpass Mono', monospace;
}

.intro, .work, .code {
	width: 87%;
	font-size: 0.878em;
	line-height: 21px;
	text-align: left;
	margin: 120px auto;
}

/*** intro ***/

.peko {
	margin-bottom: 30px;
}

img.make_circle {
	border-radius: 50%;
	width: 60%;
	display: block;
	margin: 0 auto;
}

/*** work ***/

.inside_work ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.inside_work ul li {
	margin-bottom: 15px;
	font-size: 0.8em;
}

.showcase i {
	padding-right: 7px;
}

.showcase .img {
	width: 100%;
	height: 180px;
	position: relative;
	background-color: #000;
	-webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.showcase .background {
	width: 68%;
	background-color: #fff;
	padding-left: 5px;
	position: relative;
	left: 9px;
	top: 130px;
}

/*** newbie code ***/

.code_work {
	margin-top: 30px;
}

.code_work ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.code_work ul li {
	width: 33%;
}

.code_work ul li:nth-child(1n+1){
	padding-right: 8px;
	font-size: 0.7em;
	font-family: 'Overpass Mono', monospace;
}

.code_work ul img {
	max-width: 100%;
	border-radius: 7%;
}

/*** footer ***/

footer {
	margin: 0 auto;
}

.social_icon {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	justify-content: center;
}

.social_icon li {
	padding-right: 10px;
	color: #000;
}

/*** hr style ***/

.upper_line {
	width: 225px;
	align: left;
	padding: 0;
	margin: 0;
}

hr.line1 {
	border: 4px solid rgb(223, 48, 21);
}

hr.line2 {
	border: 4px solid rgb(255, 177, 27);
}

hr.line3 {
	border: 4px solid rgb(0, 98, 132);
}

header ul li:first-child {
	border-left: 2px solid rgb(223, 48, 21);
}

header ul li:nth-child(2) {
	border-left: 2px solid rgb(255, 177, 27);
}

header ul li:nth-child(3) {
	border-left: 2px solid rgb(0, 98, 132);
}

header ul li:nth-child(4) {
	border-left: 2px solid rgb(144, 180, 75);
}

/*** img background ***/

.showcase .img1 {
	background-image: url('images/w01.jpg');
}

.showcase .img2 {
	background-image: url('images/w02.jpg');
}

.showcase .img3 {
	background-image: url('images/w03.jpg');
}

.showcase .img4 {
	background-image: url('images/w04.jpg');
}

/*** cursor ***/

header ul li, .code_work img {
	cursor: pointer;
}

@media screen and (min-width: 500px) {
	.container {
		width: 58%;
		margin: 0 auto;
	}
	img.make_circle {
		width: 30%;
	}

	header ul {
		justify-content: center;
	}

	.inside_work ul {
		width: 100%;
		margin: 30px auto;
	}
	.inside_work ul li {
		width: 50%;
	}
	.inside_work ul li:nth-child(odd) {
		padding-right: 10px;
	} 
	.showcase .background {
		width: 85%;
	}


}